doctype html
html
  head
    title Lista de Músicas
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Lista de Músicas 
    table
        tr 
            th Id 
            th Título
            th Província

        each m in musicas
            tr
                td 
                    a(href="/musicas/"+m.id)= m.id
                td= m.tit
                td= m.prov